<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="com.affinitybridge.cordova.mapbox" version="0.2.3">
  <name>Mapbox</name>
  <description>Mapbox Plugin</description>
  <license>Apache 2.0</license>
  <keywords>mapbox</keywords>

  <js-module src="www/mapbox.js" name="mapbox">
    <clobbers target="mapbox" />
  </js-module>

  <preference name="MAPBOX_ACCESS_TOKEN" />

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Mapbox">
        <param name="android-package" value="com.affinitybridge.cordova.mapbox.Mapbox"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <!-- Required by Mapbox Android SDK -->
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

      <!-- Required by Mapbox Android SDK to use location services -->
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="com.affinitybridge.cordova.mapbox.MapEditorActivity"
        android:label="Add features"
        android:parentActivityName="$PACKAGE_NAME.MainActivity">
      </activity>
    </config-file>

    <config-file target="res/values/strings.xml" parent="/*">
      <string name="mapboxAccessToken">$MAPBOX_ACCESS_TOKEN</string>

      <string name="action_new">Add feature</string>
      <string name="action_location_find">Find location</string>
      <string name="action_add_marker">Add marker</string>
      <string name="action_add_line">Add line</string>
      <string name="action_add_polygon">Add polygon</string>
      <string name="action_add_point">Add point</string>
      <string name="action_remove_point">Remove point</string>
      <string name="action_done">Finish feature</string>
      <string name="action_cancel">Discard feature</string>
    </config-file>

    <source-file src="src/android/com/affinitybridge/cordova/mapbox/Mapbox.java" target-dir="src/com/affinitybridge/cordova/mapbox" />
    <source-file src="src/android/com/affinitybridge/cordova/mapbox/MapEditorActivity.java" target-dir="src/com/affinitybridge/cordova/mapbox" />
    <source-file src="src/android/com/affinitybridge/cordova/mapbox/MarkerShadowBuilder.java" target-dir="src/com/affinitybridge/cordova/mapbox" />
    <source-file src="src/android/com/affinitybridge/cordova/mapbox/Builder.java" target-dir="src/com/affinitybridge/cordova/mapbox" />
    <source-file src="src/android/com/affinitybridge/cordova/mapbox/MarkerBuilder.java" target-dir="src/com/affinitybridge/cordova/mapbox" />
    <source-file src="src/android/com/affinitybridge/cordova/mapbox/LineBuilder.java" target-dir="src/com/affinitybridge/cordova/mapbox" />
    <source-file src="src/android/com/affinitybridge/cordova/mapbox/PolygonBuilder.java" target-dir="src/com/affinitybridge/cordova/mapbox" />
    <source-file src="src/android/com/affinitybridge/cordova/mapbox/Vertex.java" target-dir="src/com/affinitybridge/cordova/mapbox" />

    <source-file src="src/android/res/drawable/vertex_marker.xml" target-dir="res/drawable" />
    <source-file src="src/android/res/drawable/fab_label_background.xml" target-dir="res/drawable" />

    <source-file src="src/android/res/drawable/ic_action_new.png" target-dir="res/drawable" />
    <source-file src="src/android/res/drawable-mdpi/ic_action_new.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-hdpi/ic_action_new.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_action_new.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/ic_action_new.png" target-dir="res/drawable-xxhdpi" />

    <source-file src="src/android/res/drawable-mdpi/ic_action_location_found.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-hdpi/ic_action_location_found.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_action_location_found.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/ic_action_location_found.png" target-dir="res/drawable-xxhdpi" />

    <source-file src="src/android/res/drawable-mdpi/ic_action_location_off.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-hdpi/ic_action_location_off.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_action_location_off.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/ic_action_location_off.png" target-dir="res/drawable-xxhdpi" />

    <source-file src="src/android/res/drawable-mdpi/ic_action_location_searching.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-hdpi/ic_action_location_searching.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_action_location_searching.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/ic_action_location_searching.png" target-dir="res/drawable-xxhdpi" />

    <source-file src="src/android/res/drawable-mdpi/ic_action_remove.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-hdpi/ic_action_remove.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_action_remove.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/ic_action_remove.png" target-dir="res/drawable-xxhdpi" />

    <source-file src="src/android/res/drawable-mdpi/ic_action_accept.png" target-dir="res/drawable-mdpi" />
    <source-file src="src/android/res/drawable-hdpi/ic_action_accept.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/res/drawable-xhdpi/ic_action_accept.png" target-dir="res/drawable-xhdpi" />
    <source-file src="src/android/res/drawable-xxhdpi/ic_action_accept.png" target-dir="res/drawable-xxhdpi" />

    <source-file src="src/android/res/layout/map_editor.xml" target-dir="res/layout" />

    <source-file src="src/android/res/menu/context_menu_add_feature.xml" target-dir="res/menu" />

    <source-file src="src/android/res/values/colors.xml" target-dir="res/values" />
    <source-file src="src/android/res/values/styles.xml" target-dir="res/values" />

    <source-file src="assets/test.MBTiles" target-dir="assets/" />

    <framework src="src/android/deps.gradle" custom="true" type="gradleReference" />
  </platform>

</plugin>
